//colors
$dark-blue:#030d33;
$off-black:rgb(0, 0, 41);
$off-light:rgb(146, 146, 255);
$purple:#8357c5;
$blue:#3c4251;
$light-blue:#464b5e;


// spaceing 
$s-size:1.5rem;
$m-size:1.6rem;
$l-size:4rem;
$xl-size:6rem;
// m-size 

$desktopBrackPoint:45rem;


